/* FOOTER STYLES */

footer{
    text-align: center;
}

footer ul{
	list-style-type: none;
	margin: 5px;
}

footer li{
	display: inline-block;
	margin: 5px;	
}

nav input[name="search"]{
    margin: 0;
}