/* FOOTER STYLES */

footer{
    text-align: center;
}

footer ul{
	list-style-type: none;
	margin: 5px;
}

footer li{
	display: inline-block;
	margin: 5px;	
}

/* NAV STYLES */
nav input[name="search"]{
    margin: 0;
}

/* FEATURED ASIDE STYLES */

ul{
 list-style-type: none;   
}

/* HOME PAGE STYLES*/

div.index{
    width: 800px;
    margin: 0 auto;
}
